<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<uses-permission
    android:name="android.permission.CAMERA"
    android:required="true" />
<uses-permission
    android:name="android.permission.INTERNET"
    android:required="true" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

<uses-feature
    android:name="android.hardware.audio.output"
    android:required="true" />
<uses-feature
    android:name="android.hardware.camera"
    android:required="true" />

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.CapstoneAttmpt1ShopAndSpeak"
    tools:targetApi="31">

    <activity
        android:name=".OptionsMenu"
        android:exported="false"
        android:label="@string/title_activity_options_menu"
        android:theme="@style/Theme.CapstoneAttmpt1ShopAndSpeak" />
    <activity
        android:name=".SpeechText"
        android:exported="false" />
    <activity
        android:name=".ProductDisplay"
        android:exported="false" />
    <activity
        android:name=".ResultDisp"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="true">

    </activity>
    <activity
        android:name=".CamActivity"
        android:screenOrientation="fullSensor"
        android:stateNotNeeded="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
</application>

</manifest>

